<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/estilos.css">
  <title>Bem-vindo à página de saudação</title>
</head>
<body>
  <h1>Bem-vindo a página inicial</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing 
    elit. Minima iste reprehenderit reiciendis itaque porro 
    sit exercitationem quo hic maxime sint maiores amet, natus 
    aliquid odio rerum veniam assumenda laborum tenetur.
  </p>
</body>
</html>